/* 
.navBackground{
        background-color: #fff;
        border-bottom: 0.5px solid #d6d6d6;
            box-shadow: 2px 0 12px 0 rgb(0 0 0 / 15%);
            color: #000;
} 
.na{
    color: #000;
}
.f {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    gap: 10%;
}
.nav-link{
    color: #fff !important;
    font-family: "Changa-Regular", sans-serif !important;
    font-size: 17px !important;
font-weight: bold !important;
}


.logo{
    display: flex;
}
.logoImg{
    width: 5%;
    margin: auto;
    margin-top: 70px;
}
.shopCart{
margin: 0 5px;
    font-size: 25px;
    color: #fff !important;
}
.login{
    text-decoration: none;
    color: #fff;
        letter-spacing: 2px;
            font-family: "Changa-Regular", sans-serif !important;
                font-size: 17px !important;
                font-weight: bold !important;
}
.login:hover{
    color: var(--text-color);
}
.modal-content {
width: 20% !important;
   float: right;
}
.shop-cart__link{
margin-left: 60px;
text-decoration: none;
color: var(--text-color);
font-size: 25px;
}
.shop-cart-product{
    margin-top: 50px;
}
.shop-cart-product__img{
    width: 25%;
}
.shop-cart-product{
    display: flex;
    gap: 10%;
    align-items: center;
}
.shop-cart-product__title{
    font-weight: bold;
}
.shop-cart-product__para{
        font-size: 14px;
}

.del{
    font-size: 24px;
    display: none;
}
.shop-cart-product:hover .del{
    display: block;
}
.subTotal{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.check-out__link{
text-decoration: none;
background-color: var(--text-color);
color: var(--main-background-color);
padding: 10px 40px;
letter-spacing: 2px;
margin-left: 20px;

}
.shopCart{
    color: var(--text-color);
}
.navbar-toggler-icon {
    background-color: #ffffff29;
}
@media (min-width: 576px) and (max-width:992px) {
.navbar-expand-sm .navbar-toggler {
        display: block !important;
    }
        .navbar-expand-sm .offcanvas{
            display: none !important;
        }
}
@media (max-width:767px) {
    .modal-content {
            width: 100% !important;
            float: right;
        }
                .check-out__link{
                    margin-left: 70px;
                }
    
}
.btn-close{
    color: var(--main-background-color) !important;
}

.coll{
    background-color: #111111;
}
@media (min-width:992px) {
    .coll{
        background-color: transparent;
    }
    
} */
.logo{
    width: 200px;
}
.coll{
    font-weight: bold;
    font-family: 'Poppins-Medium';
    font-size: 20px;
    color: var(--primary-color);
}
.icon-bar {
    transition: all 0.4s;
    background-color: var(--primary-color);
    display: block;
    position: relative;
    width: 30px;
    height: 2px;
    transition: all 1s ease;

}

.icon-bar::before {
content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 22px;
    height: 2px;
    background-color: var(--primary-color);
    transition: all .5s ease;

}

.icon-bar::after {
content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 22px;
    height: 2px;
    background-color: var(--primary-color);
    transition: all .5s ease;

}
.shopCart {
    font-size: 30px;
    color: var(--primary-color) !important;
    background-color: #f3f1f1b6;
    border-radius:50px ;
    -webkit-border-radius:50px ;
    -moz-border-radius:50px ;
    -ms-border-radius:50px ;
    -o-border-radius:50px ;
    padding: 5px;
}
.sh{
    position: relative;
}
.size{
    position: absolute;
    right: 18%;
    background-color: var(--secondary-color);
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
    font-size: 10px;
}
.size__img{
    width: 20%;
}
.prodCart{
    display: flex;
    gap: 5%;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.cart__price{
    color: var(--secondary-color);
    font-family: 'Poppins-Medium';
}
.allItems{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bin{
    font-size: 50px;
    margin-right: 20px;
    color: var(--secondary-color);
}
.my__cart{
font-family: 'Poppins-Medium';
}
.sub{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins-Medium';
font-weight: bold;
}
.go__btn{
    display: flex;
}
.go{
        background-color: var(--primary-color);
        padding: 10px 70px !important;
        border: none;
        font-family: 'Poppins-Regular';
        text-transform: uppercase;
        color: #fff !important;
        width: 300px;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
.modal-dialog{
    margin-top: 4% !important;
        margin-left: 58% !important;
        position: relative;
}
.modal-dialog::after{
    position: absolute;
    width: 50px;
    height: 20px;
    background-color: #fff;
    content: "";
    top:5px;
rotate: 45deg;
left: 76%;
}