
.dot{
border-bottom: 5px dashed #d6d6d6;
padding-bottom: 15px;
}
.nav{
    
        top: 0;
    position: fixed !important;
    overflow: hidden;
    width: 100%;
    background-color: transparent;
    color: var(--text-color);
    z-index: 9;
    letter-spacing: 2px;
    font-family: RobotoBlack;
   
}

.navBackground{
            top: 0;
    position: fixed !important;
    overflow: hidden;
        width: 100%;
        background-color: #111111;
        color: var(--text-color);
        z-index: 9;
        letter-spacing: 2px;
        border-bottom: 0.5px solid #d6d6d6;
            box-shadow: 2px 0 12px 0 rgb(0 0 0 / 15%);
} 
.f {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    gap: 10%;
}
.nav-link{
    color: #fff !important;
    font-family: "Changa-Regular", sans-serif !important;
    font-size: 17px !important;
font-weight: bold !important;
}


.logo{
    display: flex;
}
.logoImg{
    width: 5%;
    margin: auto;
    margin-top: 70px;
}
.shopCart{
margin: 0 5px;
    font-size: 25px;
    color: #fff !important;
}
.login{
    text-decoration: none;
    color: #fff;
        letter-spacing: 2px;
            font-family: "Changa-Regular", sans-serif !important;
                font-size: 17px !important;
                font-weight: bold !important;
}
.login:hover{
    color: var(--text-color);
}
.modal-content {
width: 20% !important;
   float: right;
}
.shop-cart__link{
margin-left: 60px;
text-decoration: none;
color: var(--text-color);
font-size: 25px;
}
.shop-cart-product{
    margin-top: 50px;
}
.shop-cart-product__img{
    width: 25%;
}
.shop-cart-product{
    display: flex;
    gap: 10%;
    align-items: center;
}
.shop-cart-product__title{
    font-weight: bold;
}
.shop-cart-product__para{
        font-size: 14px;
}

.del{
    font-size: 24px;
    display: none;
}
.shop-cart-product:hover .del{
    display: block;
}
.subTotal{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.check-out__link{
text-decoration: none;
background-color: var(--text-color);
color: var(--main-background-color);
padding: 10px 40px;
letter-spacing: 2px;
margin-left: 20px;

}
.shopCart{
    color: var(--text-color);
}
.navbar-toggler-icon {
    background-color: #ffffff29;
}
@media (min-width: 576px) and (max-width:992px) {
.navbar-expand-sm .navbar-toggler {
        display: block !important;
    }
        .navbar-expand-sm .offcanvas{
            display: none !important;
        }
}
@media (max-width:767px) {
    .modal-content {
            width: 100% !important;
            float: right;
        }
                .check-out__link{
                    margin-left: 70px;
                }
    
}
.btn-close{
    color: var(--main-background-color) !important;
}

.coll{
    background-color: #111111;
}
@media (min-width:992px) {
    .coll{
        background-color: transparent;
    }
    
}