
.banner__img{
   max-width: 100%;
transition: all 400ms ease-in-out;
}
.banner{
    margin: 50px;
}
.banner__img:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.banner__body{
    position: relative;
    overflow: hidden;
}
.category__info {
    position: absolute;
    top: 5%;
    z-index: 1000;
    left: 10%;
    color: #ffffff;
    font-family: "Changa-SemiBold" !important;
    width: 100%;
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
}
.category__info h2 {
    font-size: 35px;
    font-weight: 600;
    position: relative;
}
.category__info p {
    font-size: 20px;
    font-weight: 400;
    font-family: "Changa-Regular";
    width: 300px;
    margin-bottom: 30px;
}
.shop {
    background-color: #A14226;
    padding: 15px 35px;
    color: #fff;
    font-family: "Changa-Regular" !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.shop:hover {
    background-color: #fff;
    color: #A14226;
}