.r{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 70px;
    gap: 2%;
}

.card {

    width: 400px;
    height: 500px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    margin-bottom: 40px;

}

.card__title {
    font-family: "Changa-SemiBold";
    font-weight: 400;
    color: #000;
    margin: 20px 0;
}

.card__acution {
    color: #000;
    font-family: "Changa-Regular";
}

.card:active {
    transform: scale(0.98);
}


.image {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.flipCard {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    font-family: sans-serif;
}

.flipCard__inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCard:hover .flipCard__inner {
    transform: rotateY(180deg);
}

.flipCard__front,
.flipCard__back {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipCard__back img,
.flipCard__front img {
    width: 382px;
    height: 380px;
}

.flipCard__back {
    transform: rotateY(180deg);
}

.acutionEnded {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    color: #fff;
    padding: 10px 20px;
    font-size: 35px;
}

body[dir="rtl"] .acutionEnded {
    left: 0;

}

body[dir="ltr"] .acutionEnded {

    right: 0;
}

.acutionCountdown {
    position: absolute;
    top: 70%;
    left: 10px;
    color: #777;
    border: 2px solid #fff;
    padding: 10px 0px 5px 20px;
    display: flex;
    background-color: #fff;
}

.countdown {
    display: flex;
    justify-content: space-around;
}

.countdown__body {
    display: flex;
    flex-direction: column;
}

.countdown__dot {
    margin-right: 30px;
}

.countdown div {
    text-align: center;
    margin: auto;
    margin-right: 10px;
    font-family: "Changa-SemiBold";
}



.ended {
    font-family: "Changa-Regular";
    font-size: 20px;
    background-color: #FDE4DD;
    padding: 2px 8px;
    border-radius: 4px;
    color: #777;
    margin: 5px;
}

.icon:hover {
    color: #fff;
    background-color: #EF8451;
}

@media (max-width:767px) {
    .AcutionCards {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 350px;
        margin: 20px auto;
    }

    .flipCard__back img,
    .flipCard__front img {
        width: 335px;
        height: 435px;
    }

    .countdown__dot {
        margin-right: 15px;
    }
}

@media (min-width:768px) and (max-width:1200px) {
    .AcutionCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2%;
    }

    .card {
        width: 350px;
        margin: 20px auto;
    }

    .flipCard__back img,
    .flipCard__front img {
        width: 335px;
        height: 435px;
    }

    .countdown__dot {
        margin-right: 15px;
    }
}

@media (min-width:1201px) and (max-width:1300px) {
    .AcutionCards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2%;
    }

    .card {
        width: 350px;
        margin: 20px auto;
    }

    .flipCard__back img,
    .flipCard__front img {
        width: 335px;
        height: 435px;
    }

    .countdown__dot {
        margin-right: 15px;
    }
}

.end {
    font-size: 30px;
}
.category__img {
    margin: auto;
    margin-bottom: 70px;
    width: 200px !important;
}
.category__title{
    text-align: center;
    font: 700 50px/60px 'Laila', Helvetica, sans-serif !important;
}
.product__btn{
    background-color: #a14226;
    padding: 10px 70px;
    margin-left: 30px;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: white;
    font: 700 17px/20px 'Laila', Helvetica, sans-serif !important;
    transition: all 400ms ease-in-out;
}
.product__btn:hover{
    background-color: #fff;
    color: #a14226;
    border: 1px solid #a14226;

}
.filter__btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:767px) {
    .filter__btn{
        display: flex;
        flex-direction: column;
    }
        .product__btn{
            margin-bottom: 10px;
        }
              
    
}
.card__price{
    margin: auto;
    text-align: center;
}
