.swiperHeader {
    width: 100% !important;
    position: relative;
}
.swiperHeader::before{
            top: auto;
            bottom: 0;
            content: '';
            position: absolute;
            width: 100%;
            height: 74px;
            left: 0;
            right: 0;
            z-index: 2;
            background-image: url(../../assets/section-before-shape.png);
            background-size: cover;
            background-repeat: repeat-x;
            background-repeat: no-repeat-y;
            background-position: center;
            animation: slide 50s linear infinite;
            -webkit-animation: slide 50s linear infinite;
}
@keyframes slide {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100vw 0;
    }
}




.home-header__info h2 {
    font-size: 50px;
    font-weight: 600;
    margin: auto;
    z-index: 200;
}

.home-header__info p {
    padding: 10px 0;
    font-size: 30px;
    font-weight: 400;
    font-family: "Changa-Regular";
}


.blur {
    filter: blur(2px) !important;
    width: 100%;
    min-height: 800px;

}
@keyframes zoom-in {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1.2, 1.2);
    }

    to {
        transform: scale(1.2, 1.2)
    }


}
.text-algin-style_white-btn {
    text-align: end;
}

.text-algin-style_btn {
    text-align: start;
}
@media (max-width:992px) {

    .home-header__info p {
        padding: 10px 0 !important;
        font-size: 20px !important;
    }

    .home-header__info h2 {
        font-size: 25px !important;
        font-weight: 400 !important;
    }

    .home-header__btn {

        font-size: 20px;
        width: 100% !important;
        padding: 7px 100px !important;

    }

    .home-header__btn_white {
        padding: 7px 100px !important;
    }

    .text-algin-style_white-btn {
        text-align: center !important;
    }

    .text-algin-style_btn {
        text-align: center !important;
    }


}

@media (max-width:350px) {
    .home-header__btn {
        font-family: "Changa-Regular";
        font-size: 15px !important;
        font-weight: 500;
        color: #FFFFFF;
        background-color: #EF8451;
        border-radius: 50px;
        text-decoration: none;
        padding: 10px 45px !important;

    }

    .home-header__btn_white {
        font-family: "Changa-Regular" !important;
        font-size: 15px !important;
        font-weight: 500 !important;
        color: #272727 !important;
        background-color: #FFFFFF !important;
        border-radius: 50px !important;
        text-decoration: none !important;
        padding: 10px 45px !important;


    }


}
.shopTitle{
    margin-bottom: 20px;
}
.shop{
    background-color: #A14226;
    padding: 15px 35px;
    color: #fff;
    font-family: "Changa-Regular" !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}
.shop:hover{
    background-color: #fff;
    color: #A14226;
}

.payment{
    background-color: #A14226;
    width: 190px;
    height: 190px;
    text-align: center !important;
    color: #fff;
    position: relative;
    margin-top: 20px;
    font-family: "Changa-Regular", sans-serif !important;
    font-size: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    
}
.payment::after{
        content: '';
        position: absolute;
        border: 2px dashed #a14226;
        left: -8px;
        right: -8px;
        top: -8px;
        bottom: -8px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
@keyframes rotate{
0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}
100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}
.payment:hover::after{
animation: rotate 50s linear infinite;
    -webkit-animation: rotate 50s linear infinite;
}

.loz{
    margin-top: -30%;
    z-index: 200;
    position: relative;
    animation: rotate 50s linear infinite;
        -webkit-animation: rotate 50s linear infinite;
text-align: center !important;

    }
.paymentIcon{
    font-size: 30px !important;
}
.category__body{
    margin-top: 50px;
    
}
.categories{
    display: flex;
    flex-direction: column;
}
.category{
    text-align: center;
font: 700 50px/60px 'Laila', Helvetica, sans-serif !important;
}
.category__img{
    margin: auto;
    margin-bottom: 70px;
}
.category__info {
    position: absolute;
    top: 5%;
    z-index: 1000;
    left: -10%;
    color: #ffffff;
    font-family: "Changa-SemiBold" !important;
    width: 100%;
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
}
.category__info h2 {
    font-size: 35px;
    font-weight: 600;
    position: relative;
}
.category__info h2::before{
    content: "";
    position: absolute;
    color: #fff;
    height: 2px;
    width: 50px;
    background-color: #fff;
    top: 40px;
}
.category__info p {
    font-size: 20px;
    font-weight: 400;
    font-family: "Changa-Regular";
}
.category__para{
    margin-bottom: 20px;
}

@media (max-width:767px) {
    .loz{
        width: 250px;
        text-align: center !important;
        margin: -30% auto 0;
    }
    
}
.swiper__info{
    text-align: center;
}
.swiperhome__info {
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 1000;
   color: #ffffff;
   font-family: "Changa-SemiBold" !important;
   width: 100%;
   transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   -moz-transform: translate(-50%,-50%);
   -ms-transform: translate(-50%,-50%);
   -o-transform: translate(-50%,-50%);
   text-align: center;
}
.swiperhome__info h2{
    font: 700 76px/78px 'Laila', Helvetica, sans-serif;
        color: #fff;
        margin: 30px 0;
        letter-spacing: 3px;
        text-transform: capitalize;
}
@media (min-width:488px) and (max-width:575px) {
  .r{
    display: flex;
  }  
}