.blog{
    display: flex;
    flex-direction: column;

}
.blog__title,
.blog__img{
    margin: auto;
}
.blog__title{
    font: 700 50px/60px 'Laila', Helvetica, sans-serif !important;
    color: #111;
    margin-top: 30px !important;
    text-align: center;
    text-transform: capitalize;
}
.blog__img{
    margin-bottom: 20px;
}
.card {
  position: relative;
  max-width: 500px;
  height: 550px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px !important;
  height: 550px !important;
  overflow: hidden;
  border-radius: 10px;
}

.card__image img {
  max-width: 500px !important;
  height: 550px !important;
  object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card__content {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 20px;
  background-color: #fff;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card__text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.card__button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.card:hover .card__image img {
  transform: scale(1.2);
}

.card:hover .card__content {
  transform: translateY(-400px);
  -webkit-transform: translateY(-400px);
  -moz-transform: translateY(-400px);
  -ms-transform: translateY(-400px);
  -o-transform: translateY(-400px);
}

.card__image {
  height: 400px;
  width: 300px;
  background-color: #000;
  /* you can put img url here  */
}
.blog__body{
  display: flex;
  gap:6%;
  position: relative;
}
