*{
        font-family: RobotoBlack;
}


.carousel-indicators{
        display: none !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
        background-color: transparent !important;}

.swiper-pagination{
        top: 135px !important;
}
.swiper-pagination-bullet {
        color: #a14226 !important;
        background-color: #a14226 !important;
}
