*{
        font-family: RobotoBlack;
}

.carousel-indicators{
        display: none !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
        background-color: transparent !important;}

.swiper-pagination{
        top: 135px !important;
}
.swiper-pagination-bullet {
        color: var(--secondary-color) !important;
        background-color: var(--secondary-color) !important;
}
/* .form-control:focus {
box-shadow: 0 0 0 0.10rem rgba(216, 99, 70, 0.61) !important;
border: #a14226 1px solid !important;
}
 */