*{
        font-family: RobotoBlack;
}


.carousel-indicators{
        display: none !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
        background-color: transparent !important;}

